*{
  margin:0px
}

.App {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App img {
  height: 150px;
  width: 150px;
  margin:20px;
}

.main-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.finish-btn {
  padding:10px 20px 10px 20px;
  background: #f61962;
  margin-top: 15px;
  text-decoration: none;
  color:white;
  border-radius: 10px;
}
